.mainbox{
    display: flex;
    justify-content: center;
}
.stats-panel {
    /* font-family: 'Aileron', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #151515;
    width: 55%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px;
    text-align: center;
    border-radius: 18px;
    background-color: rgba(254, 255, 230, 1);
    backdrop-filter: blur(1.5px) brightness(1);
    border: 0px solid #000;
    box-shadow: 0px 0px 20px rgba(193, 193, 193, 0.5);
  }

  @media(max-width: 600px){
    .stats-panel{
        width: 90%;
        font-size: 10px;
    }
  }
  
  .pad{
    margin-top: 5px;
    letter-spacing: 1px;
  }