.mainbox{
    display: flex;
    justify-content: center;
}
.stats-panel {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Futura', sans-serif; */
    font-family: 'Aileron', sans-serif;
    color: #929292;
    width: 350px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(3px) brightness(1);
    border: 0px solid #000;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  @media(max-width: 600px){
    .stats-panel{
        width: 80%;
    }
  }
  
  .pad{
    margin-top: 5px;
    letter-spacing: 2.5px;
  }